@font-face {
    font-family: 'Eve-Font';
    src: url('eve.eot'); /* IE9 Compat Modes */
    src: url('eve.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('eve.woff') format('woff'), /* Modern Browsers */
    url('eve.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('eve.svg#svgFontName') format('svg'); /* Legacy iOS */
}
* {
    background-color: black;
    color: #8b5194;;
    font-family: Eve-Font;
}
/* Remove default bullets */
ul, #myUL {
    list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
    margin: 0;
    padding: 0;
}

/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
    content: "\25B6";
    /*color: black;*/
    display: inline-block;
    margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
}

