<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Eve Lookup</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Names To Get</h1>
<form action="#" th:action="@{/processSelection}" th:object="${processForm}" method="post">
    <ul>
        <li th:each="checkboxValue: ${multiCheckboxAllValues}">
            <input type="checkbox"
                   th:field="*{multiCheckboxSelectedValues}"
                   th:value="${checkboxValue}" />
            <label
                    th:for="${#ids.prev('multiCheckboxSelectedValues')}"
                    th:text="${checkboxValue}"></label>
        </li>
    </ul>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>