<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Venator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
</head>
<body>
<h1>Region Select</h1>
<form action="#" th:action="@{/processSelection}" th:object="${processForm}" method="post">
    <ul>
        <li th:each="checkboxValue: ${multiCheckboxAllValues}">
            <input type="checkbox"
                   th:field="*{multiCheckboxSelectedValues}"
                   th:value="${checkboxValue}" />
            <label
                    th:for="${#ids.prev('multiCheckboxSelectedValues')}"
                    th:text="${checkboxValue}"></label>
        </li>
    </ul>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>