<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Venator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel = "stylesheet"
          type = "text/css"
          th:href = "@{/css/master.css}" />
</head>
<body>
<h1>Result</h1>
    <ul id="myUL">
        <li th:each="regionData: ${processResult}">
            <span class="caret" th:text="'Region: ' +${regionData.key}">Region</span><br>
            <ul class="nested">
<!--                <div th:text="${regionData.value}"></div>-->
                <li th:each="constData: ${regionData.value}">
                    <span class="caret" th:text="': ' +${constData.key}">Constellation</span><br>
<!--                    <script>console.log(document.getElementById("test").innerText)</script>-->
<!--                    <span class="caret" th:text="'Constellation: ' +${constData.key}">Constellation</span><br>-->
                    <ul class="nested">
<!--                        <div th:text="${constData.value}"></div>-->
                        <li th:each="systemData: ${constData.value}">
<!--                             <div th:text="${systemData}"></div>-->
                            <span class="caret" th:text="'System: ' +${systemData.key}">System</span><br>
                            <ul class="nested">
                                <td th:text="'NPC Kills: ' +${systemData.value.get(0)}"/><br>
                                <td th:text="'Pod Kills: ' +${systemData.value.get(1)}"/><br>
                                <td th:text="'Ship Kills: ' +${systemData.value.get(2)}"/><br>
                                <td th:text="'Number of Jumps: ' +${systemData.value.get(3)}"/><br>
                                <br>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
<a href="/processSelection">Submit another message</a>
</body>

<script>
    var toggler = document.getElementsByClassName("caret");
    var i;

    for (i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function() {
            this.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("caret-down");
        });
    }
</script>
</html>