<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Eve Lookup</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Names To Get</h1>
<form action="#" th:action="@{/getIdsByName}" th:object="${getIdByName}" method="post">
    <p>Character: <textarea rows = "4" cols = "40" th:field="*{character}"></textarea></p>
    <p>System: <input type="text" th:field="*{system}" /></p>
    <input type="checkbox" name="Wicked Creek" value="Wicked Creek"> Wicked Creek<br>
    <input type="checkbox" name="The Forge" value="The Forge"> The Forge<br>
    <input type="checkbox" name="Bleak Lands" value="Bleak Lands"> Bleak Lands<br>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>